body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
       font-size: 14px;
}
h1, h2, h3, h4, h5, h5, h6 {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header */

.header {
  padding-top: 50px;
  width: 100%;
  position: absolute;
}

.header__text {
    float: right;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-right: 30px;

    transition: color .1s linear;
}
.nav__link:hover {
    color: #c7b299;
}
.nav__link:last-child {
    margin-right: 0;
}
.nav__link.active {
color: #c7b299;
}

.header__logo {
    margin-right: 15px;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-width: 880px;
    margin: 0 auto;

    text-align: center;
}

/* intro */

.intro {
    width: 100%;
    height: 100vh;
    text-align: center;

    background: url("../img/header/main-bg.png") center center / cover no-repeat;
    background-attachment: fixed;
}

.intro__inner {
    padding-top: 380px;
}

.intro__title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
}
.intro__name {
    margin-top: 14px;
    color: #ffffff;
    font-size: 52px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
.intro__text {
    margin-top: 19px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.intro__btn {
    margin-top: 70px;
    color: #ffffff;
    font-family: "Raleway - Extra Bold";
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    text-decoration: none;
}

.intro__btn.btn--gray {
    padding: 21px 38px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;

}


/* Preference */

.preference__header {
    min-height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 89px;
}
.preference__icon {
   text-align: center;
}
.preference__title {
    text-align: center;
    margin-top: 29px;
    color: #555555;
    font-size: 22px;
    font-weight: 800;
}
.preference__text {
    width: 250px;
    margin-top: 19px;
    margin-left: 34px;

    color: #8c8c8c;
    min-height: 60px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.preference__text:after {
    content: " ";
    display: block;
    width: 70px;
    height: 3px;
    margin: 30px auto;

    background-color: #f1eee9;
}
.preference__title.active {
    color: #c7b299;
}
.preference__text.active:after{
      content: " ";
    display: block;
    width: 70px;
    height: 3px;
    margin: 30px auto;

    background-color: #c7b299;
}
.preference__text:first-child {
    margin-left: 0px;
}

/* realization */
.realization__wrapper {
    text-align: center;
}

.realization__title {
    color: #555555;
    font-family: "Raleway", serif;
    font-size: 30px;
    font-weight: 800;
}
.realization__text {
    max-width: 780px;
    margin: 24px 0;
    margin-left: 18%;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.realization__photo {
    position: absolute;
    top: 85px;
    left: -15px;
    z-index: -2;
}
.realozation__phototree {
    position: absolute;
    top: 85px;
    right: -15px;
    z-index: -2;
}
.photo__wrapper {
    position: relative;
}
.realozation__phototho {
    position: relative;
    top: 5px;
    z-index: -1;
}


/* Purchase */

.purchase__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.section.section__header {
    width: 100%;
    min-height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.purchase__title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
}
.purchase__title h2 {
    font-weight: 300;
}
.purchase__title span {
    color: #c7b299;
}
.purchase__text {
    color: #615855;
    font-size: 18px;
    font-weight: 300;
}

/* Product */


.product__title {
    margin: 81px 0 24px;
    text-align: center;
    color: #555555;
    font-family: "Raleway", serif;
    font-size: 30px;
    font-weight: 800;
}
.product__text {
    text-align: center;
    max-width: 760px;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-left: 18%;
}
.product__list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.product__item {
    color: #000;
    margin-right: 10px;
    padding: 5px 21px;
    text-decoration: none;

    border-radius: 3px;
    border: 1px solid #ebebeb;

    transition: all .1s linear;
    margin-bottom: 40px;
}
.product__item:hover {
    color: #fff;
    background-color: #000;
    background-color: #998675;
}
.product__item:last-child {
    margin-right: 0;
}

/* Photo */




.product__num {
    color: #000;
    display: inline-block;
    width: 30%;
    margin-right: 35px;
    overflow: hidden;
}


.container__mini {
    background-color: #fbfaf8;
    width: 370px;
    height: 100px;
    margin-bottom: 30px;

    padding-top: 30px;
    transition: all .1s linear;
}
.container__mini:hover  {
    background-color: #362f2d;

}

.photo__suptitle {
    padding-left: 29px;
    color: #c7b299;
    font-size: 20px;
    font-weight: 500;
}
.photo__suptext {
    padding-left: 29px;
    margin-top: 14px;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.photo__item {
    Width: 100%;
    height: auto;
    display: block;
    margin-right: 30px;
    overflow: hidden;

    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;
}
.photo__item:hover {
    transform: scale(1.05);
}
.photo__item:last-child {
    padding-right: 0px;
}
.photo__item.item--3 {
    padding-right: 0px;
}
.decor__title {
    text-decoration: none;
    color: #c7b299;
    font-size: 20px;
    font-weight: 500;
}
.decor__title:hover {
    color: #fff;
}
.more__btn {
    margin: 50px 0 80px;

    text-align: center;
}
/* Video */
.section__video {
    min-height: 705px;
    background: url("../img/video/video-bg.png") center center / cover no-repeat;
    background-attachment: fixed;
    text-align: center;
}
.video__icon {
    padding-top: 210px;

}
.video__title {
    margin-top: 44px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
}
.video__text {
    max-width: 570px;
    color: #ffffff;
    margin-top: 29px;
    margin-left: 25%;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.video__timer {
    color: #c7b299;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* Excellent */
.excellent__photo {
    margin: 80px 30px 0 77px ;
    float: left;
    position: relative;
    top: 10px;
    z-index: -1;

}
.section.section--iphone {
    min-height: 700px
}
.excellent__title {
    padding-top: 195px;
    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 800;
}
.excellent__text {
    margin-top: 40px;

    color: #8c8c8c;

    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.excellent__options {
    margin-top: 45px;
    color: #8c8c8c;

    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}
/*
.arrow__right {



}
.arrow__right:first-child {
    margin-top: 50px;
}
*/


.excellent__options {
    width: 550px;
    float: right;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;


}
/* Stats */
.stats__header {
    width: 100%;
    min-height: 300px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.stats__wrapper {
    padding-top: 70px;
    display: inline-block;
    align-items: baseline;
    text-align: center;
    margin-left: 100px;

}
.stats__wrapper:first-child {
    margin-left: 0;
}
.stats__number {
    margin-top: 30px;
    color: #ffffff;
    font-family: "Montserrat";

    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
}
.stats__text {
    margin-top: 21px;

    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}

.stats__text:after {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  margin: 30px auto;

  background-color: #fff;

}

.stats__inner{
    margin: 0 auto;
    text-align: center;
}

/* Lorem */

.lorem__header {
    min-height: 750px;
}
.lorem__subtitle {
    padding-top: 80px;

    color: #555555;
    font-family: "Raleway", serif;
    font-size: 30px;
    font-weight: 800;
}
.lorem__subtext {
    margin-top: 30px;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;

    max-width: 770px;
    margin-left: 20%;
    margin-bottom: 40px;
}

.lorem__wrapper {
    text-align: center;
}

.lorem__suptitle {
    display: flex;
}

.lorem__compartment {
    width: 30%;
    margin-right: 30px;
}
.lorem__compartment:last-child {
    margin-right: 0;
}
.lorem__title {
    color: #555555;

    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 19px;
    margin-left: 30px;

}
.lorem__text {
    color: #8c8c8c;
     margin-left: 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 27px;
}
.lorem__more {
     margin-left: 30px;
    margin-bottom: 30px;
    color: #c7b299;

    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.sub__wrapper {
    position: absolute;
    width: 370px;

    transition: all .1s linear;
}
.sub__wrapper:hover{
    color: #c7b299;
    background-color: #362f2d;
}
.dec__link {
    text-decoration: none;
    color: #c7b299;
}
.dec__link:hover {
    color: #fff;
}
.photo__link {
    transition: transform .1s linear;
}
.photo__link:hover {
    transform: scale(1.05);
}

/* Company */
.company {
    width: 100%;
    height: 500px;
    background: url("../img/company/company-bg.jpg") center center / cover no-repeat;
    background-attachment: fixed;
}
.company__photo {
    display: flex;
    text-align: center;
    align-items: baseline;
}
.last__logo {
    margin-left: 90px;
    margin-top: 130px;

}
.last__logo:first-child {
    margin-left: 0;
}


/* Last Heaader*/

.section--last {
    width: 100%;
    min-height: 500px;
    background-color: #191919;
}
.list__title {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}
.list__text {
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 10px;
    margin-right: 40px;
    cursor: pointer;

}
.list__text:after {
    content: " ";
    display: block;
    width: 270px;
    height: 1px;
    background-color: #252525;

}
.list__more {
    color: #d1d1d1;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.list__subtitle {
    color: #363636;

    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    cursor: pointer;
}
.list__subtitle:hover {
    color: #fff;


}
.list__suptitle {
    color: #363636;

    font-size: 12px;
    font-weight: 300;
    line-height: 20px;

    cursor: pointer;
}
.list__suptitle:hover {
    color: #fff;
}
.list__text:hover {
    color: #c7b299;
}
.waxom {
    text-decoration: none;
    color: #00bff3;
}.envato {
    text-decoration: none;
    color: #00bff3;
}
.list__header {
    padding-top: 90px;
    padding-bottom: 80px;
    display: flex;
    align-items: baseline;

}
.text--one {
    width: 260px;
    margin-right: 30px;
    margin-bottom: 20px;
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 10px;
}
.list__logo {
    position: absolute;

    left: 330px;
    margin-bottom: 45px;
}
.waxom--first {
    padding-left: 30px;
    padding-bottom: 45px;
}
.big--title {
    min-width: 300px;
    margin-bottom: 26px;
}

.git {
    text-decoration: none;
    color: #959595;
}

/* footer */
.footer {
    height: 111px;
    width: 100%;
    background-color: #111111;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}
.faq {
    color: #c7b299;

    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
.copyright {
    color: #555555;

    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
.last__waxom {
    color: #959595;
      font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
.stick {
    color: #252525;
}
